@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'MRCH';
  src: url('/fonts/MRCHNewYork.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

}

.bgHome {
  background-image: url('/images/bg-home.png');
  /* Relative to public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgActivity {
  background-image: url('/images/bg.jpg');
  /* Relative to public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}