@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'Hatton';
  src: url('/fonts/Hatton-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

.bgHome {
  background-image: url('/images/home-banner.jpg');
  /* Relative to public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgActivity {
  background-image: url('/images/bg.jpg');
  /* Relative to public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}